@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    @apply transition-colors duration-100;
}

.hide-scrollbar::-webkit-scrollbar{
    display: none;
}

.darken-background{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100vw;
    height:100vh;
    background-color: rgba(0,0,0,0.8);
}
